name: Deploy to PROD 
run-name: ${{ github.actor }} is Running the Github Actions
on: 
  pull_request:
    types: [closed]
    branches:
      - main
    paths:
      - 'force-app/**'
  
jobs:
  build-and-deploy:
    name: Deploy to prod
    uses: "./.github/workflows/template.yml"
    permissions:
      security-events: write
      actions: read
      contents: read
    with:
      environment: production
    secrets: inherit