name: Deploy to Prod 
run-name: ${{ github.actor }} is Running the Github Actions
on: 
  pull_request:
    types: [closed]
    branches:
      - develop
    paths:
      - 'force-app/**'
  
jobs:
  build-and-deploy:
    name: Pre Validate prod
    uses: "./.github/workflows/template.yml"
    permissions:
      security-events: write
      actions: read
      contents: read
    with:
      environment: production
    secrets: inherit