name: Pre Validate to UAT Sandbox
run-name: ${{ github.actor }} is Running the Github Actions
on: 
  pull_request:
    types: [opened, edited, reopened, synchronize]
    branches:
      - uat
    paths:
      - 'force-app/**'
  
jobs:
  build-and-deploy:
    name: Validate to UAT
    uses: "./.github/workflows/template.yml"
    permissions:
      security-events: write
      actions: read
      contents: read
    with:
      environment: uat
    secrets: inherit