name: Code Validation
run-name: ${{ github.actor }} is Running the Github Actions
on:
  push:
    paths:
      - 'force-app/**'
    branches:
      - feature/*
      - bugfix/*
      - hotfix/*
  
jobs:
  build-and-deploy:
    name: Deploy using Reusable teplate
    uses: "./.github/workflows/template.yml"
    permissions:
      security-events: write
      actions: read
      contents: read 