name: Code Validation
run-name: ${{ github.actor }} is Running the Github Actions
on: 
  push:
    paths:
      - 'force-app/**'
    branches:
      - feature/*
      - bugfix/*
      - hotfix/*
  
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: developer
    steps:
      - run: echo "This is my first job"
        name: " first Job Message"
      - name: Checkout Code
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - name: npm install
        run: npm install
      - name: Install Salesforce CLI
        run: npm install @salesforce/cli --global

      - name: Install Salesforce Code Analyzer
        id: salesforce-cli-scanner
        run: sf plugins install @salesforce/sfdx-scanner

      - name: Decrypt the server.key.enc file
        run: openssl enc -nosalt -aes-256-cbc -d -in ${{ secrets.ENCRYPTED_KEY_FILE }} -out ${{ secrets.JWT_KEY_FILE }} -base64 -K ${{ secrets.KEY }} -iv ${{ secrets.IV }}

      - name: Authorize with Salesforce org
        run: sf org login jwt --username ${{ secrets.SF_USERNAME }} --jwt-key-file ${{ secrets.JWT_KEY_FILE }} --client-id ${{ secrets.SF_CLIENT_ID }} --set-default --alias cicd-org --instance-url ${{ secrets.SF_INSTANCE_URL }}
      - name: Validate the Code to Salesforce
        run: sf project deploy validate --source-dir force-app --target-org cicd-org
    #  - name: deploy
    #    run: sf project deploy start --source-dir force-app --target-org cicd-org 
  clean-up:
    runs-on: ubuntu-latest
    needs: [build-and-deploy]
    steps:
      - run: echo "This is my Second Job"
        name: "Print Message"